<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Izamal Travel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <style>
    .navbar-dark.bg-success {
    background-color: #6cb7b3 !important;
    }
    .btn-success {
    background-color: #6cb7b3 !important;
    border-color: #6cb7b3 !important;
    }
   .btn-success {
    background-color: #6cb7b3 !important;
    border-color: #6cb7b3 !important;
}




  </style>
</head>
<body>
  <header class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Izamal Travel </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registro</a>
        </li>
      </ul>
    </div>
  </header>

<div class="jumbotron jumbotron-fluid text-white" style="background: url('https://wallpapercave.com/wp/wp4203179.jpg') center/cover no-repeat;">
  <div class="container text-center">
    <h1 class="display-1  "><b>IZAMAL TRAVEL</b></h1>
    <p class="display-4">Bienvenido a nuestra plataforma de viajes. Explora y planifica tus aventuras.</p>
    
  </div>
</div>


  <div class="container mt-5">
    <div class="card-deck">
      <!-- Card 1 -->
<div class="card">
  <img src="https://wallpapercave.com/wp/wp8750750.jpg" class="card-img-top" alt="Plan Ixchel">
  <div class="card-body">
    <h5 class="card-title">Plan Ixchel</h5>
    <p class="card-text">
      <strong>Hospedaje:</strong> 4 días 3 noches<br>
      <strong>Viaje redondo:</strong> desde CDMX a Yucatán (clase turista)<br>
      <strong>Transporte:</strong> completo<br>
      <strong>Guía turístico:</strong> incluido<br>
      <strong>Desayuno y cena:</strong> tradicional<br>
      <strong>Día 1:</strong> Anillo de cenotes<br>
      <strong>Día 2:</strong> Hopelchén<br>
      <strong>Día 3:</strong> Bacalar<br>
      <strong>Día 4:</strong> Chichén Itzá<br>

      <strong class="display-4">$8,900 p/persona</strong>
      <hr>
      <a href="/login" class="btn btn-success btn-lg btn-block"  >Ver más</a>

    </p>
  </div>
</div>



      <!-- Card 2 -->
    <div class="card">
  <img src="https://i0.wp.com/files.tripstodiscover.com/files/2015/06/El-Dorado-Royale-a-Spa-Resort-by-Karisma.jpg?resize=1640%2c1230" class="card-img-top" alt="Plan Mactzil">
  <div class="card-body">
    <h5 class="card-title">Plan Mactzil</h5>
    <p class="card-text">
      <strong>Hospedaje:</strong> 4 días 3 noches<br>
      <strong>Viaje redondo:</strong> desde CDMX a Yucatán (clase turista)<br>
      <strong>Transporte:</strong> completo<br>
      <strong>Guía turístico:</strong> incluido<br>
      <strong>Desayuno:</strong> tradicional<br>
      <strong>Día 1:</strong> Chichén Itzá<br>
      <strong>Día 2:</strong> Bacalar<br>
      <strong>Día 3:</strong> Hopelchén<br>
      <strong>Día 4:</strong> Libre en Mérida
      <br>
      <strong class="display-4">$20,600 p/persona</strong>
      <hr>
      <a href="/login" class="btn btn-success btn-lg btn-block">Ver más</a>

    </p>
  </div>
</div>

    </div>
  </div>
<div class="container mt-5">
  <div class="card-deck text-center">
    <div class="card">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/HZAKWw-kKQg?si=pkK3yiqJ6npgzKs9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <div class="card-body">
        <p class="card-text">¡Descubre el paraíso con nosotros! Somos la mejor agencia de viajes, donde tus sueños se hacen realidad.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card-deck text-center">
    <div class="card">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/ypLBTq3mjA0?si=ICBdREr4Gv2TSHUW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <div class="card-body">
        <p class="card-text">¡Embárcate en la aventura de tu vida. ¡Viaja con nosotros, la agencia que hace tus sueños de viaje realidad!</p>
      </div>
    </div>
  </div>
</div>


  <div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Misión</h2>
          <p class="card-text">
            Transmitir la riqueza turística de la región maya transísmica para incentivar a las futuras generaciones a explorar la diversidad existente en México, a través de los paquetes turísticos atendiendo las necesidades del cliente.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Visión</h2>
          <p class="card-text">
            Ser una empresa turística reconocida y confiable a nivel nacional, impulsando el consumo local y cultural ofreciendo servicios innovadores a precios accesibles asegurando experiencias turísticas inolvidables.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
 <div class="container mt-5">
        <div class="p-5" style="background-color: #f8f9fa; border-radius: 10px;">
          <h3>Somos Socialmente Responsables</h3>
          <p>
            En Izamal Travel, estamos comprometidos con el medio ambiente y tu bienestar.
            Nos esforzamos por brindarte las mejores vacaciones mientras contribuimos
            a un mundo más sostenible.
          </p>
        </div>
      </div>
      <br>
      <br>
<footer class="bg-success text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Redes Sociales</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100083301879486&mibextid=ZbWKwL" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li class="list-inline-item"><a href="https://www.tiktok.com/@izamal.travel?_r=1&_d=e28ieb0l2mkjd7&sec_uid=MS4wLjABAAAAG71o1CZfBMZX-Juo0Ns5vmLW3MfZ2tewkRUsK-WoZV-77LpE_U01TNKMjYC9Nm8m&share_author_id=7087958892605654022&sharer_language=en&source=h5_m&u_code=e28ielh3c36173&timestamp=1702865451&user_id=7108733390311982085&sec_user_id=MS4wLjABAAAAsdkzu6tdUCv_PykGBSwYo4dj4EH9fvqoSXOU0tVOc41_ZJUhl3rDOJqmKGle8U9o&utm_source=copy&utm_campaign=client_share&utm_medium=android&share_iid=7313005117434889989&share_link_id=7be0844e-3ee7-4c4b-80d1-f60396250de5&share_app_id=1233&ugbiz_name=ACCOUNT&ug_btm=b6880%2Cb5836&social_share_type=5&fbclid=IwAR20_Xj8sXefZZF8JVWvdksaRqLzukgh2Qxd3n3A8x99-4M903wIXzGLZGk" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/izamal_travel?igshid=OGQ5ZDc2ODk2ZA%3D%3D&fbclid=IwAR0RR8LUQigzvEk019_WTQKwimCSd-rHCTHYLmOwqIcHzKFDg9zF3LvlZBI" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
           
        </ul>
      </div>
      <div class="col-md-6">
        <h5>Contacto</h5>
        <p class="mb-0"><i class="fas fa-phone"></i> Teléfono: +1 (123) 456-7890</p>
        <p><i class="far fa-envelope"></i> Email: info@izamaltravel.com</p>
      </div>
    </div>
  </div>
</footer>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
