<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
 <header class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Izamal Travel </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registro</a>
        </li>
      </ul>
    </div>
  </header>
<body>
  <div class="container mt-5">
    <h2>Registro</h2>
    <form action="/register" method="post">
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="mail" class="form-control" id="correo" name="correo" required>
      </div>
      <div class="form-group">
        <label for="correo">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="apellido">Apellidos:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" required>
      </div>
      <div class="form-group">
        <label for="contra">Contraseña:</label>
        <input type="contra" class="form-control" id="contra" name="contra" required>
      </div>
      <button type="submit" class="btn btn-success form-control">Registro</button>
    </form>
  </div>
</body>
</html>
