<!-- registroExitoso.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
 <header class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="/">Izamal Travel </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Registro</a>
        </li>
      </ul>
    </div>
  </header>
<body>
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header bg-success text-white">
                <h2>¡Registro Exitoso!</h2>
            </div>
            <div class="card-body">
                <p class="card-text">Te has registrado con éxito. Aquí están tus detalles:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Correo:</strong> {{correo}}</li>
                    <li class="list-group-item"><strong>Nombre:</strong> {{nombre}}</li>
                    <li class="list-group-item"><strong>Apellido:</strong> {{apellido}}</li>
                   
                    <a href="/login"><button class="btn btn-success">Ir al inicio de sesión</button></a>
                </ul>
            </div>
            <div class="card-footer">
                <!-- Puedes agregar enlaces, botones u otra información adicional aquí -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
